
.login-form {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form p {
  text-align: center;
  font-size: 0.9rem;
}

.login-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  background-color: #70716D;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #aaaaaa;
}

.login-link {
  color: #70716D;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
